target/
*.iml
.idea/

# maven release files
pom.xml.releaseBackup
release.properties

# vscode project files (?)
.classpath
.factorypath
.project
.settings/

# Dot file
.*
!.gitignore
!.editorconfig
!.mvn
.mvn/wrapper
